*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-image: url("img/home_design.svg");
}

#burgernav{
  position: fixed;
  padding: 1rem;
  top: 0%;
  right: 0%;
  align-items: center;
  z-index: 999;
}

.hamburger-menu{ 
  background-color: rgba(240, 248, 255, 0.493);
  height: 40px;
  width: 40px;
  top: 15px;
  right: 10px;
  position:fixed ;
  cursor:pointer ;
  padding:1rem ;
  z-index: 1000;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.938);
  border-radius: 10px;
}

.ham-bar{
  width: 70%;
  height: 4px;
  background-color: rgb(92, 60, 24);
  border-radius: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform .6s, opacity .8s, top .6s;
}

.bar-top{
  top: 25%;
}

.bar-bottom{
  top: 75%;
}

.hamburger-menu.active{
  box-shadow: 0px 0px 0px;
  background-color: transparent;
}

.hamburger-menu.active .bar-top{
  transform: translate(-50%, -50%) rotate(-315deg);
  top: 50%;
  background-color: rgb(224, 41, 41);
}

.hamburger-menu.active .bar-mid{
  transition: 0ms;
  opacity: 0;
}

.hamburger-menu.active .bar-bottom{
  transform: translate(-50%, -50%) rotate(-225deg);
  top: 50%;
  background-color: rgb(224, 41, 41);
}

.off-screen-menu{
  position: fixed;
  top: 0;
  right: -20%;
  background-color:rgba(143, 126, 79, 0.8);
  height: 100vh;
  width: 20%;
  transition: right .5s; 
  z-index: 900;
}

.off-screen-menu.active{
  right: -1;
}

/*REMOVE HYPERLINK LINE*/
a{
  position: relative;
  text-decoration: none;
}

.overlayz{
  margin-top: 15px;
  margin-bottom: 33px;
  text-align: center;
}

#itemz{
  font-size: 25px;
  color: rgb(255, 255, 255);
  font-family: 'Courier New', Courier, monospace;
}

#itemz:hover{
  font-family: monospace;
  font-weight: bold;
  color: rgb(255, 255, 255);
  cursor: pointer;
}

#copefee_label{
  background-color: #302d29;
  color: rgb(224, 142, 18);
  padding: 10px;
  text-align: left;
  font-size: 35px;
  }

#coffee_img{
  position: relative;
  width: 50px;
  height:50px;
  margin-bottom: -10px;
  border-radius: 20px;
}

html {
  scroll-behavior: smooth;} 

header{
  position: fixed;
  background-color: rgba(161, 92, 1, 0.815);
  width: 100vw;
  padding-block: 6px;
  text-align: center;
  color: rgb(223, 186, 117);
  font-size: 50px;
  font-weight: 900;
  font-family: 'Courier New', Courier, monospace;
}

body>header>div{
  position: relative;
  display: flex; 
  flex-direction:row;
  flex-wrap:wrap;
  justify-content: baseline;
  align-items: baseline;
  width: 100%;  
  max-width: 100%; 
  overflow: hidden; 
}

body>header>div>div>img{
  width: 50vw;    
}

.click-instruct{
  padding: 10px;
  position: sticky;
  background-color: rgb(221, 120, 5);
  border-radius: 10px;
  width: 190px;
  left: 1080px;
  top: 40vh;
}

.order-arrow-button{
  position: sticky;
  border-radius: 10px;
  width: 1px;
  left: 1100px;
  top: 50vh;
}
#shrek{
  width: 150px;
  border-radius: 20px;
  box-shadow: 0px 0px 30px 20px rgb(255, 255, 255);
}